/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 2031px;
    background-color: #0F0B13;
}
.bg {
    position: absolute;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 720px;
    background: rgba(15, 11, 13, 1) url(img/Background.png) no-repeat center;
    background-size: 1280px 720px;
    opacity: 75%;
    filter: blur(6.5px);
}
.upper-page {
    position: relative;
    left: 0px;
    margin: 0 auto;
    max-width: 1280px;
    height: 720px;
    
}

body {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 0;
    
    
}
.bg2 {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2031px;
    background-image: url(img/bg222.png);
    background-repeat: repeat-x;
    background-size: auto 2031px;
    z-index: -1;
}
.active {
  font-weight: 500;
}

header {
    padding: 10px;
    font-weight: 300;
    font-size: 32px;
    padding-top: 58px;
    width: 100%;
    max-width: 768px;
    text-align: center;
    margin: 0 auto;
}

.nav-links,
.nav-links a{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
}
.nav-links a:hover {
  font-weight: 400;
}
main {
    position: relative;
    margin: 172px auto;
    width: 562px;
    height: 393px;
}
.logo-img {
    margin: 0 auto;
    position: relative;
    left: 10px;
    bottom: 10px;
    width: 192px;
    height: 192px;
}
main p {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 72px;
    font-weight: 300;
    position: relative;
    text-align: center;
    color: #fff;
    top: 129px;
}

.greetings{
    color: #fff;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 54px;
    max-width: 1050px;
    height: 445px;
}
.greetings h1 {
    font-weight: 500;
}
.gr-desc {
    font-size: 32px;
    position: relative;
    top: 36px;
    font-weight: 400;
}

.connect-btn{
    font-size: 58px;
    font-weight: 400;
    position: relative;
    height: 86px;
    width: 492px;
    top: 82px;
    text-decoration: none;
    color: #fff;
    padding: 4px 25px;
    background-image: url(img/btnBg.png);
    background-size: 492px 86px;
    border-radius: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.45);
    filter: drop-shadow(0px 4px 4px rgba(255, 0, 0, 0.25));
    transition: 0.4s;
}
.connect-btn:hover {
  opacity: 80%;
  padding: 6px 30px;

}
.resources {
    text-align: center;
    color: #fff;
    max-width: 572px;
    max-height: 461px;
    margin: 117px auto;
}
.resources h1 {
    font-size: 72px;
    font-weight: 500;
}
.links {
    position: relative;
    top: 123px;
    display: flex;
    justify-content: space-between;
}
.link {
    padding: 0 20px;
}
.res-img {
    width: 75px;
    height: 75px;
    filter: invert();
    transition: 0.25s;
}
.res-img:hover {
    width: 80px;
    height: 80px;
}
.ip {
    position: relative;
    font-size: 48px;
    font-weight: 300;
    bottom: -221px;
}

footer {
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top:200px;
    background-color: #0F0B13;
}